.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

__pycache__/
.idea/
terraform/.build/admin_analytics.zip
terraform/.build/create_task.zip
terraform/.build/delete_task.zip
terraform/.build/get_task.zip
terraform/.build/list_tasks.zip
terraform/.build/update_task.zip
terraform/.build/voice_parse.zip
